[SddmGreeterTheme]
Name=ArcoLinux Breeze
Name[ar]=ArcoLinux-نسيم
Name[ast]=ArcoLinux Breeze
Name[az]=ArcoLinux Breeze
Name[bs]=ArcoLinux Breeze
Name[ca]=ArcoLinux-Brisa
Name[ca@valencia]=ArcoLinux-Brisa
Name[cs]=ArcoLinux Breeze
Name[da]=ArcoLinux Breeze
Name[de]=ArcoLinux Breeze
Name[el]=ArcoLinux Breeze
Name[en_GB]=ArcoLinux Breeze
Name[es]=ArcoLinux-Brisa
Name[et]=ArcoLinux Breeze
Name[eu]=ArcoLinux Breeze
Name[fi]=ArcoLinux Breeze
Name[fr]=ArcoLinux Breeze
Name[gl]=ArcoLinux Breeze
Name[hu]=ArcoLinux Breeze
Name[ia]=ArcoLinux-Brisa
Name[id]=ArcoLinux Breeze
Name[is]=ArcoLinux Breeze
Name[it]=ArcoLInux Brezza
Name[ja]=ArcoLinux Breeze
Name[ko]=ArcoLinux Breeze
Name[lt]=ArcoLinux Breeze
Name[nb]=ArcoLinux Breeze
Name[nds]=ArcoLinux Breeze
Name[nl]=ArcoLinux Breeze
Name[nn]=ArcoLinux Breeze
Name[pa]=ArcoLinux-ਬਰੀਜ਼
Name[pl]=ArcoLinux Bryza
Name[pt]=ArcoLinux Brisa
Name[pt_BR]=ArcoLinux Breeze
Name[ro]=ArcoLinux-Briză
Name[ru]=ArcoLinux Breeze
Name[sk]=ArcoLinux-Vánok
Name[sl]=ArcoLinux-Sapica
Name[sr]=ArcoLinux-Поветарац
Name[sr@ijekavian]=ArcoLinux Поветарац
Name[sr@ijekavianlatin]=ArcoLinux Povetarac
Name[sr@latin]=ArcoLinux Povetarac
Name[sv]=ArcoLinux Breeze
Name[tg]=ArcoLinux-Насим
Name[tr]=ArcoLinux Breeze
Name[uk]=ArcoLinux Breeze
Name[vi]=ArcoLinux Breeze
Name[x-test]=xxArcoLinux Breezexx
Name[zh_CN]=ArcoLinux-微风
Name[zh_TW]=ArcoLinux-微風
Description=ArcoLinux Breeze
Description[ast]=ArcoLinux Breeze
Description[az]=ArcoLinux Breeze
Description[ca]=ArcoLinux-Brisa
Description[ca@valencia]=ArcoLinux Brisa
Description[cs]=ArcoLinux Breeze
Description[da]=ArcoLinux Breeze
Description[de]=ArcoLinux Breeze
Description[en_GB]=ArcoLinux Breeze
Description[es]=ArcoLinux-Brisa
Description[et]=ArcoLinux Breeze
Description[eu]=ArcoLinux Breeze
Description[fi]=ArcoLinux Breeze
Description[fr]=ArcoLinux Breeze
Description[gl]=ArcoLinux Breeze
Description[hu]=ArcoLinux Breeze
Description[ia]=ArcoLinux-Brisa
Description[id]=ArcoLinux Breeze
Description[it]=ArcoLinux-Brezza
Description[ko]=ArcoLinux Breeze
Description[lt]=ArcoLinux Breeze
Description[nl]=ArcoLinux Breeze
Description[nn]=ArcoLinux Breeze
Description[pa]=ArcoLinux-ਬਰੀਜ਼
Description[pl]=ArcoLinux-Bryza
Description[pt]=ArcoLinux-Brisa
Description[pt_BR]=ArcoLinux Breeze
Description[ro]=ArcoLinux-Briză
Description[ru]=ArcoLinux Breeze
Description[sk]=ArcoLinux-Vánok
Description[sl]=ArcoLinux-Sapica
Description[sv]=ArcoLinux Breeze
Description[tg]=ArcoLinux-Насим
Description[uk]=ArcoLinux Breeze
Description[vi]=ArcoLinux Breeze
Description[x-test]=xxArcoLinux Breezexx
Description[zh_CN]=ArcoLinux-微风
Description[zh_TW]=ArcoLinux Breeze
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=arcoLinux-breeze
Theme-API=2.0
